---
import Base from "../layouts/Base.astro";
---
<Base title="puida.xyz">
    <h1 class="text-3xl font-bold">Oops! This page does not exist.</h1>
    <p><a href="/">Return to explored waters.</a></p>
</Base>