---
import Base from "../layouts/Base.astro";
---

<Base title="puida">
  <h2 class="text-lg">Hi! I'm <strong>Guilherme</strong>.</h2>
  <p>
    I'm a Software Engineer from Brazil. I mostly work with React Native, but
    backend work is not something I <em>can't</em> do.
  </p>
  <p>
    I'm also a fulltime Software Engineering student at <abbr
      title="Universidade de Brasília">UnB</abbr
    >.
  </p>
  <p>
    Read something I've written in my <a href="/blog">blog</a>, or just stick
    around looking at this page. <small>I can't force you to do anything.</small>
  </p>
</Base>
