---
---

<footer class="my-12">
  <hr class="border-2 border-black border-dashed" />
  <p><small>Made with {Astro.generator} and TailwindCSS.</small></p>
  <p>
    <small>
      <a href="/rss.xml">RSS</a>
      |
      <a href="github.com/guilherme-puida">GITHUB</a>
    </small>
  </p>
</footer>
