---
---
<nav class="py-3">
    <img class="mx-auto" src="/pawn.svg" alt="pawn">    

    <hgroup class="flex space-x-2 items-baseline">
        <h1 class="text-2xl font-bold">puida.xyz</h1>
        <small>1. d4 :^)</small>
    </hgroup>

    <div class="flex space-x-3">
        <a href="/">/home</a>
        <a href="/blog">/blog</a>
        <a href="/tags">/tags</a>
    </div>

    <hr class="mt-4 border-2 border-black border-dashed" />
</nav>
